@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.top {
    background-color: #1f2937;
}

.container {
    padding: 10px 150px 100px;
}

.header {
    display: flex;
    margin-bottom: 75px;
    flex-wrap: wrap;
}

.links {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.material {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.box1 {
    display: flex;
    flex-direction: column;
    flex:1;
/*     border: 1px solid white; */
    gap: 10px;
}

.image1 {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
}

.title1 {
    display: flex;
    justify-content: flex-start;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.logo,
.action {
    color: #f9faf8;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
}

a,
.text1,
.button1,
.footer,
.action-text,
.button2 {
    font-size: 18px;
    color: #E5e7eb;
}

.img-text {
    font-size: 18px;
}

.button1 {
    background-color: #3882f6;
    display: inline-flex;
    justify-content: center;
    width: fit-content;
    padding: 6px 25px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.second {
    display: flex;
    flex-direction: column;
}

.grey {
    display: flex;
    background-color: #e5e7eb;
    padding: 100px 250px;
    justify-content: center;
}

.last {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color:#1f2937;
    padding: 50px;
}

.title2 {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    justify-content: center;
}

.image {
    display: flex;
    flex: 1;
    border: 4px solid #3882f6;
    padding: 75px;
    border-radius: 10px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 200px 100px;
    flex-wrap: wrap;
}

.image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;

}

.img-text {
    text-align: center;
    display: flex;
    flex: 1;
}

.box2 {
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.qoute-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.qoute {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-weight: bold;
}

.last {
    display: flex;
    flex-direction: column;
    padding: 75px 150px;
}

.blue-box {
    display: flex;
    background-color: #3882f6;
    padding: 25px 100px;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 5px;
}

.blue-text {
    display: flex;
    flex-direction: column;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    width: fit-content;
    padding: 6px 25px;
    border-radius: 5px;
}